#Python compiled files
*.pyc

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.idea/
distribute/
offTopic/
postProcessing/
Log.txt

# user defined
run_CambridgeData.bat
run_LuxLinster_2nd.bat
run_Exp134.bat
dist/
build/
resources/R-2.15.2-win.exe
fileImport.sqlite.cache
